page {
  background-color: aliceblue;
  padding: 20rpx;
}
.search_row {
  height: 60rpx;
  display: flex;
}
.search_row input {
  background-color: aliceblue;
  flex: 1;
  height: 100%;
  padding-left: 30rpx;
}
.search_content .search_item {
  background-color: aliceblue;
  font-size: 26rpx;
  padding: 15rpx 10rpx;
  border-bottom: 1rpx solid white;
}
